* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', serif;
    box-sizing: border-box;
    /* font-family: courier, helvetica;*/
}
/* ================whole site ================*/
body {
    background-color: rgb(244, 246, 249);
    height: 100%;
}
html{
    height: 100%;
}
.clearfix::after{
    content: "";
    clear: both;
    display:table;
}
.wraper{
    min-height: 100%;
   /*position: relative;*/
}
.container {
    margin: 0 auto;
    width: 90%;
}
/*=============header================*/
.header-content a{
font-size: 200px;
    }
.header-content p {
    color: darkred;
    font-weight: normal;
    letter-spacing:2px;
    word-spacing: 3px;

}
.header {
    background: linear-gradient(white, darkgray);
    border: 1px solid darkgray;
    box-shadow: 0px 4px 8px 0px gray, 0px 6px 20px 0px lightgray;
    font-size: 30px;
}

/*==============navigation on all pages=====================*/
.nav-left {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    word-spacing: 5px;
    float: left ;
    margin-top: 37px;
}
.nav-right {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    word-spacing: 5px;
    float: right ;
    margin-right: 10px;
    margin-top: 37px;
}
.header a:link, .header a:visited {

    text-decoration: none;
    font-size: 1em;
  /*  padding: 3px;
    font-weight: bold;*/
    border: none;
    color: rgba(55, 58, 130, 0.5);
}
#logo {
    width: 100px;
    float: left;
}
.header a:hover {
    color: darkred;
    transition: .75s;
}

.header a:active {
    color: purple;
    text-decoration: none;
    transition: .001s;
}
h1#title {
    font-size: 1.5em;
    text-align: center;
    color: rgb(95, 95, 107);
}


/*---====------------Contact me page ------------------====-*/

input {
    margin-left: 10px;
}

.contact-me-body a:link, .contatc-me-body a:visited{
    text-decoration: none;
    color: black;
}

button:hover{
    cursor: pointer;
    color: red;
    transition: 1s;
    background-color: linear-gradient(darkgray, rgb(244, 246, 249));
}
button{
    padding: 2px;
    width: 10%;
    min-width: 100px;
    margin:10px 0;
}
input{
    width: 20%;
    min-width: 150px;
}
textarea{
    width: 100%;
}
#contact-me-text{
    text-align: center;
    font-size: 18px;
    margin: 25px;
}
/* ===================Footer ======================*/
footer {
    background: linear-gradient(rgb(244, 246, 249), darkgray);
    width: 100%;
}

/*======================== about me page ===========================*/
.about-me-text-box p {
    text-align: left;
   /* margin: 10px;*/
    font-size: 20px;
}
.about-me-text-box {
    color: darkred;
    font-size: 20px;
    font-weight: 100px;
    width: 58%;
    float: left;
    padding: 10px;
    margin: 1%;
}
#section-img {
    width: 38%;
    float: left;
    margin: 1%;
}
div#section-img>img{
    width: 100%;
}
div#about-me-container{
    border: 1px solid black;
    background-color: black;
    height: 100%;
}

/* ========================Gallery (art folder.html)=========================== */
.gallery img {
    float: left;
    width: 100%;
    border: 1px solid black;
    box-shadow: 0px 4px 8px 0px gray, 0px 6px 20px 0px lightgray;
}
.gallery div {
    float: left;
    width: 30%;
    margin:100px 1.6666667%;

}
h3 {
    text-align: center;
}
div.sketches div{
    float: left;
    width: 30%;
    margin:100px 1.6666667%;
}
.sketches img {
    width: 100%;
    border: 1px solid black;
    box-shadow: 0px 4px 8px 0px gray, 0px 6px 20px 0px lightgray;
}
/*======================= images on main page index.html=========================*/
div.paralax1, div.paralax2, div.paralax3, div.paralax4  {
    width: 100%;
    margin:50px auto;
    height: 80%;
    border: 1px solid black;
    box-shadow: 0px 4px 8px 0px gray, 0px 6px 20px 0px lightgray;
}
.paralax1 {
    background-image: url(http://lucasschneider.com/wp-content/uploads/2013/06/two-planets.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.paralax2 {
    background-image: url(http://lucasschneider.com/wp-content/uploads/2013/06/Little-house-on-the-prarie.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.paralax3 {
    background-image: url(http://lucasschneider.com/wp-content/uploads/2013/06/Kings-Crown2.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.paralax4 {
    background-image: url(http://lucasschneider.com/wp-content/uploads/2013/06/waterfalls.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*.container1 {
    margin: 90px auto 0 auto;
}*/